include CHANGELOG.rst
include CONTRIBUTORS
include HACKING
include LICENSE.txt
include requirements.txt
include test_requirements.txt
include TODO.rst
include update_version.sh

recursive-include tests *.py
graft docs
prune docs/build
