include CHANGELOG.rst
include CONTRIBUTORS
include HACKING
include MIT-LICENSE.txt
include requirements.txt
include test_requirements.txt
include TODO.rst
include update_version.sh

include-recursive tests *.py
graft docs
prune docs/build
